
/* Body styles */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 97.5vh;
  background: rgb(105, 166, 246);
  font-family: 'Montserrat', sans-serif;
}

/* Center title and advice */
h1, p {
  text-align: center;
}

/* Main container */
.wrapper { 
  width: 600px;
  background-color:white;
  border-radius: 15px;
  padding: 0px 30px 30px;
}
